$footer-padding: 1.5rem 1.5rem;
@import '../../../../node_modules/bulma/bulma.sass';

.parent {
  min-height: 100vh;
  padding-bottom: 80px;
}

.items-list {
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
